{% extends 'base.html' %}
{% block title %}log in
{% endblock title %}
{% block content %}
<h2>
login
</h2>
<form method="post">
 {% csrf_token %} 
 {{ form.as_p }} 
   <button type="submit">login</button>
</form>



{% endblock content %}