<!DOCTYPE html>
<html lang="en">
<head>
    <meta charest="Utf-8">
    <title>
    {% block title %}
    {% endblock title %}
    </title>
    </head>
    <body>
    <main>
    {% block content %}
    {% endblock content %}
    
    
    </main>
    
    
    </body>
    </html>