{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
hi {{user.username}}
<p><a href={% url 'logout' %}>logout</a></p>
{% else %}
<p>you are not logged in</p>
<a href={% url 'login' %}>login</a>
<a href={% url 'signup' %}>signup</a>





{% endif %}



{% endblock content %}