{% extends 'base.html' %}
{% block title %}sing up
{% endblock title %}
{% block content %}
<h2>sing up</h2>
<form method="Post">
 {% csrf_token %} 
 {{ form.as_p }} 
 <button type="submit"> sign up </button>
 </form>
{% endblock content %}


